.forecast {
    .temp-icon {
        height: 0.8em;
        width: 0.8em;
    }
    
    .high-temp {
        color: orangered;
    }
    
    .low-temp {
        color: skyblue;
    }

    opacity: 0;
    
    -moz-animation: appear 1s 0.2s forwards;
    -o-animation: appear 1s 0.2s forwards;
    animation: appear 1s 0.2s forwards;

    @keyframes appear {
        
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
    }
}
