.welcome {
    display: flex;
    align-items: center;

    .station-wrapper {
        .station-logo {
            width: 100%;
        }

        display: none;

        @media (min-width: 768px) {
                display: block;
        }
    }
}
